[package]
name = "async-bincode"
version = "0.5.1"
edition = "2018"

description = "Asynchronous access to a bincode-encoded item stream."
readme = "README.md"

authors = [
	"Jon Gjengset <jon@thesquareplanet.com>",
	"Jonathan Behrens <behrensj@mit.edu>"
]

homepage = "https://github.com/jonhoo/async-bincode"
repository = "https://github.com/jonhoo/async-bincode.git"

keywords = ["asynchronous", "tokio", "bincode", "serialization"]
categories = ["asynchronous", "encoding", "network-programming"]

license = "MIT/Apache-2.0"

[badges]
travis-ci = { repository = "jonhoo/async-bincode" }
maintenance = { status = "passively-maintained" }

[dependencies]
bincode = "1.0.0"
byteorder = "1.0.0"
futures-core = "0.3.0"
futures-sink = "0.3.0"
serde = "1.0.8"
tokio = { version = "0.2.0", features = ["tcp"] }
bytes = "0.5.0"

[dev-dependencies]
futures = "0.3.0"
tokio = { version = "0.2.0", features = ["full"] }
